<section class="separator-u"></section>
<section class="p-edit">
  <div class="p-wraper">
    <div class="p-container">
      <div class="p-left">
        <div class="sidenav">
          <ul>
           <li>
              <a href="/users/messages">Messages</a>
            </li>
          </ul>
          <a class="p-btn btn-block" href="/users/show">Show Profile</a>
        </div>
      </div>
        <!--form-->
        <div class="p-right">
          <div class="p-form">
            <div class="form-header">
              <p>Edit your Profile</p>
            </div>
            <div class="p-body">
                
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
                    
                  <div class="f-row">
                    <%= f.label :name, class: "col-label" %>
                    <div class="col">
                      <%= f.text_field :name, class: "col-txt" %>
                    </div>
                  </div>

                  <div class="f-row">
                    <%= f.label :city, class: "col-label" %>
                    <div class="col">
                      <%= f.text_field :city, class: "col-txt" %>
                    </div>
                  </div>

                  <div class="f-row">
                    <%= f.label :email, class: "col-label" %>
                    <div class="col">
                      <%= f.email_field :email, autofocus: true, class: "col-txt" %>
                    </div>
                  </div>
                  
                  <div class="f-row">
                    <div class="js-skills">
                      <%= f.label :skill, class: "col-label" %>
                      <div class="col">
                        <%= f.text_field :skill, class: 'js-skill col-txt', value:"", list: 'skills' %>
                      <datalist id="skills">
                        <option value="Java">
                        <option value="Ruby">
                        <option value="JavaScript">
                        <option value="PHP">
                        <option value="Python">
                        <option value="CSS">
                      </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="f-row">
                    <div class="col-sub">
                      <%= f.submit "Add", class: 'js-add-skill btn-profile btn-sub btn-sub-size' %>
                    </div>
                  </div>
                  
                  <div class="f-row">
                    <div class="col-size">
                      <ul class="added-skills col-skill" >
                      <!--<li>js...</li>-->
                      </ul>
                    </div>
                  </div>
                    
            

                  
                  
                  <div class="f-row">
                    <%= f.label :password, class: "col-label" %>
                    <div class="col">
                      <%= f.password_field :password, autocomplete: "off", class: "col-txt", placeholder: '(leave blank if you don\'t want to change it)'  %>
                    </div>
                    <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                  </div>

                  <div class="f-row">
                   <%= f.label :confirmation, class: "col-label" %>
                   <div class="col">
                     <%= f.password_field :password_confirmation, autocomplete: "off", class: "col-txt" %>
                   </div>
                  </div>     
                          
                  <div class="f-row">     
                    <%= f.label :current_password, class: "col-label" %>
                    <div class="col">
                      <%= f.password_field :current_password, autocomplete: "off", placeholder: '(we need your current password to confirm your changes)', class: "col-txt" %>
                    </div>
                  </div>

                <div class="f-row">
                  <div class="col-sub">
                     <%= f.submit "Update", class: "btn-profile btn-sub btn-size" %>
                  </div>
                </div>
                <% end %> 
           
                <div class="f-row">
                  <div class="col-sub">
                     <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  class: "btn-profile btn-red" %>
                  </div>
                </div>
                  <!--<%= devise_error_messages! %>-->
            </div><!--p-body-->
          </div><!--form-->

        </div><!--p-right-->
      
    </div><!--p-container-->
  </div><!--p-wraper-->
</section> 
  





                    
                    
