

<section class="p-edit">
  <div class="p-wraper">

    <div class="p-container">
      <div class="p-left">
        <div class="sidenav">
          <ul>
            <li>
               <%= link_to "Edit Profile", user_registration_path, method: :patch %>
            </li>
            <li>
              <a href="/users/messages">Messages</a>
            </li>
          </ul>
         
        </div>
        
      </div>

      <div class="p-right">
        <div class=user-img> 
         <%=image_tag("user-default.png", alt: "Example Image")%>
        </div>
      <p><%= current_user.name %></p>
      <p><%= current_user.city %></p>
      <div class="p-wraper">
        <ul>
            <% current_user.skills.each do |skill| %>
              <li><%= skill.name %></li>
              <%= button_to "X", remove_skill_path(skill.id), method: :delete %>
            <% end %>
          </ul>
      </div>
      </div>


    </div>
  <div>
</section>





