<%= render :partial => "projects/nav_projects" %>
<section class="separator-u"></section>
<section class="p-edit">
  <div class="p-wraper">
    <div class="p-container">
      <div class="p-left">
        <div class="sidenav">
          <ul>
            <li>
               Need any tips?
            </li>
              
          </ul>
          <a class="p-btn btn-block" href="/projects/1">See more projects</a>
        </div>
      </div>
        <!--form-->
        <div class="p-right">
          <div class="p-form">
            <div class="form-header">
              <p>Create a new project</p>
            </div>
            <div class="p-body">
               <%= form_for @project, url: create_project_path do |f| %>

                  <div class="f-row">     
                    <%= f.label :name, class: "col-label" %>
                    <div class="col">
                    <%= f.text_field :name, class: "col-txt" %>
                    </div>
                  </div>

                  <div class="f-row">     
                    <%= f.label :project_type, class: "col-label" %>
                    <div class="col">
                    <%= f.text_field :project_type, class: "col-txt" %>
                    </div>
                  </div>

                  <div class="f-row">     
                    <%= f.label :purpose, class: "col-label" %>
                    <div class="col">
                    <%= f.text_field :purpose, class: "col-txt" %>
                    </div>
                  </div>

                  <div class="f-row">     
                    <%= f.label :description, class: "col-label" %>
                    <div class="col">
                    <%= f.text_field :description, class: "col-txt" %>
                    </div>
                  </div>

                  <div class="f-row">     
                    <%= f.label :category, class: "col-label" %>
                    <div class="col">
                    <%= select_tag(:category,options_for_select([['Back-end', 'Back-end'], ['Front-end', 'Front-end'], ['Full-stack','Full-stack']]), class: 'p-select' ) %>
                    </div>
                  </div>

                  <div class="f-row">
                    <div class="col-sub">
                       <%= f.submit "Create", class: "btn-profile btn-sub btn-size" %>
                    </div>
                  </div>  
                <% end %> 
           
               
                  
            </div><!--p-body-->
          </div><!--form-->

        </div><!--p-right-->
      
    </div><!--p-container-->
  </div><!--p-wraper-->
</section> 
<section class="separator-u"></section>





                    
                    





    




