<style>
.typo {
/*  font-family: "Courier";*/
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{
  0%{width: 0;}
 50%{width: 0;}
  100%{ width: 50;} 
}
</style>

<%= render :partial => "projects/nav_projects" %>
<section class="separator-u"></section>
  
<div class="projects-wraper">
<div class="info-project">
  <div class="info-img">
    <div class="info-project-img">
      <%=image_tag("project#{@project.id%3 + 1}.png", alt: "Example Image")%>
    </div>
    <p><%= @project.name %></p>
  </div>
  <div class="info-text">
    <p><%= @admin.city %></p>
    <p><%=@project.project_type%></p>
    <p><%= @project.purpose %></p>
    <p><%= @project.description %></p>
  </div>
  <div class="info-admin">
    <p>*</p>
    <div class="info-admin-img">
      <%=image_tag("user-default.png", alt: "Example Image")%>
    </div>
    <p>Admin</p>
    <p><%= @admin.name%></p>
  </div>
</div>

<!-- Línea separación -->

<div class="separator"><span> Looking for </span></div>


<div class="container-looking">
  <div class="looking-img">
    <%=image_tag("css3.png", alt: "Example Image")%>
    <p>CSS</p>
  </div>
  <div class="looking-img">
    <%=image_tag("ruby.png", alt: "Example Image")%>
    <p>Ruby</p>
  </div>
  <div class="looking-img">
    <%=image_tag("js.png", alt: "Example Image")%>
    <p>JS</p>
  </div>
</div>

<!-- Línea separación -->

<div class="separator"><span> Members </span></div>

<div class="members-project">
  <% @users.each do |user| %>
    <div class="member">
        <%=image_tag("user-default.png", alt: "Example Image")%>
        <p><%= user.name %></p>
    </div>
  <% end %>
</div>




<div class="options js-container-options">
  <% if @role == 'admin' %>
    <%= link_to 'Delete Project', destroy_project_path(@project.id), method: :delete %>
  <% elsif @role == 'future_member' %>

    <select  class="js-category" style="display: inline-block;">
      <option value='Back-end'>Back-end</option>
      <option value='Front-end'>Front-end</option>
      <option value='Full-stack'>Full-stack</option>
    </select>
    <a href="#" class="js-btn-apply" data-id="<%= @project.id %>">Apply</a>
    <a href="#" class="js-btn-leave" data-id="<%= @project.id %>" style="display:none;">Leave</a>

  <% else %>

    <select  class="js-category" style="display: none;">
      <option value='Back-end'>Back-end</option>
      <option value='Front-end'>Front-end</option>
      <option value='Full-stack'>Full-stack</option>
    </select>
    <a href="#" class="js-btn-apply" data-id="<%= @project.id %>" style="display:none;">Apply</a>
    <a href="#" class="js-btn-leave" data-id="<%= @project.id %>">Leave</a>

  <% end %>
</div>
</div>