<style>
.typo {
/*  font-family: "Courier";*/
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{
  0%{width: 0;}
/*  50%{width: 0;}
  100%{ width: 50; }*/ 
}
</style>

<div class="row blue">
	<div class='col col-3'></div>
	<div class='col col-6'>
		<h2  class="typo"><%=@project.name%></h2>
	</div>
	<div class='col col-3'></div>
</div>

		
<section class='center white'>
	<div class='row'>
		<div class='col col-3'></div>
		<div class='col col-6'>
			<div class='project-wrapper'>
				<h3><%=@project.project_type%></h3>
				<p><%= current_user.city %></p>
		 		<p><%= @project.purpose %></p>
		 		<div class='description'>
		 			<p><%= @project.description %></p>
		 		</div>
			</div>
		</div>
		<div class='col col-3'>
			<div class='admin'>
				<p>
					<span>*</span>
					Admin:
				</p>
				<div>
					<img src="" alt="foto">
					<p  class="typo"><%= @name %></p>
				</div>
			</div>
		</div>
	</div>

</section>


<!-- 
<%= @project.inspect %>
 -->
	<p>Logueada <%= current_user.name.capitalize %></p>
<div class="js-container-options">
<% if @role == 'admin' %>
	<%= link_to 'Delete Project', destroy_project_path(@project.id), method: :delete %>
<% elsif @role == 'future_member' %>

	<button class="js-btn-apply" data-id="<%= @project.id %>">Apply</button>

	<select  class="js-category">
    <option value='Back-end'>Back-end</option>
    <option value='Front-end'>Front-end</option>
    <option value='Full-stack'>Full-stack</option>
  </select>

<% else %>
	<button class="js-btn-leave" data-id="<%= @project.id %>">Leave</button>
<% end %>
</div>