<div class="body-session-new">
  <p class="logo-b">
    <a class="logo-b" href="http://codebros.herokuapp.com/">Code<span>Bros</span>
    </a>
  </p>
    <div class="heading-session-new">
      <h1 class="login-heading">
        <strong>Welcome.</strong> Please login.</h1>
    </div>
    <div class="login">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="email">
        <%= f.email_field :email, autofocus: true, class:"input-txt", placeholder:"Email address" %>
        </div>
        <div class="password">
          <%= f.password_field :password, autocomplete: "off", class: "input-txt", placeholder:"Password" %>
        </div>
        <% if devise_mapping.rememberable? -%>
        <div class="login-footer">
          <%= f.check_box :remember_me %>
            <span class="icon">Remember me</span> 
          <% end -%>
          <%= f.submit "Log in", class: "btn btn-pink btn--right" %>
        </div>
      <% end %>
    </div>
</div> 

<!-- <div class="error">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div> -->

