<nav class="menu-user">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Profile", show_user_path %></li>
    <li><%= link_to "Projects", projects_index_all_path %></li>  
  </ul>
</nav>
<nav class="menu-log-in">
  <ul>
    <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <li><%= link_to current_user.name, show_user_path, style: 'color: rgba(0,0,0,0);' %></li>
    <li><a><%= image_tag("user-default.png", class:"avatar-user") %></a></li>
  </ul>
</nav>