<!DOCTYPE html>
<html>
  <head>
    <title>Codebros</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if current_page?(new_user_session_path) %>
      
  <% elsif current_page?(new_user_registration_path) %>
      
  <% elsif user_signed_in? %>
    <header>
      <div class="wrapper-menu">
        <h1>
          <a class="logo-a" href="http://codebros.herokuapp.com/">Code<span>Bros</span>
          </a>
        </h1>
      <%= render :partial => "site/signed_in" %>
      </div>
    </header>
  <% else %>
    <header>
      <div class="wrapper-menu">
        <h1>
          <a class="logo-a" href="http://codebros.herokuapp.com/">Code<span>Bros</span>
          </a>
        </h1>
        <%= render :partial => "site/signed_out" %>
     </div>
    </header>
  <% end %>

    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  </body>
</html>


