<!DOCTYPE html>
<html>
  <head>
    <title>Codebros</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Code Bros</h1>

      <% if user_signed_in? %>
      <%= link_to "Home", root_path %>
      <%= link_to "Profile", show_user_path %>
      <%= link_to "Projects", projects_index_all_path %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <p> <%= current_user.name %> </p>
      
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
    </header>
  	
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
