<!DOCTYPE html>
<html>
  <head>
    <title>Codebros</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="wrapper">
          <div class="logo">
            <a class="logo-a" href="http://codebros.herokuapp.com/">Code<span>Bros</span>
            </a>
          </div>
          <button class="dl-trigger"></button>
        <% if user_signed_in? %>
          <div class="img-user">
              <%= image_tag("user-default.png")%>
          </div>
          <nav class="menu-user">

            <%= link_to "Home", root_path %>
            <%= link_to "Profile", show_user_path %>
            <%= link_to "Projects", projects_index_all_path %>
         
        

            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>

            <%= link_to current_user.name, show_user_path, style: 'color: rgba(0,0,0,0);' %>
          </nav>
        <% else %>
          
          <nav class="menu-user">
            <%= link_to "Sign Up", new_user_registration_path %>
            <%= link_to "Log In", new_user_session_path %>
          </nav>
         
        <% end %>

      </div>

     
      
      
    </header>
    
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>


